

/*  ----------------------------------------------------------
								FEEDBACK PAGE
	---------------------------------------------------------- */

    #feedback p,
    #feedback div p {
        font-family: 'Gotham Medium', sans-serif;
        width: 100%;
        text-align: center;
        text-transform: none;
        font-size: 1.5em;
    }
    
    #feedback :nth-child(2) {
        text-transform: uppercase;
    }
    
    
    #feedback div {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    #feedback div #like,
    #feedback div #dislike {
        padding: 5%;
        width: 30%;
    }
    
    #feedback div #like img,
    #feedback div #dislike img {
        width: 100%;
    }
    
    #feedback :nth-child(8) img {
        width: 20%;
    }
    #feedback-intro p{
        margin-top: 100%;
        font-size: 125%;
        text-align: center;
        font-weight: bold;
        font-family: 'Gotham Medium', sans-serif;
    }
    #feedback-intro .btn {
        width: 80%;
	    margin: 10% 10%;
	    padding: 10px;
    }

#share > p, #feedback p {
    margin-top: 75%;
    font-size: 125%;
    text-align: center;
    padding: 5%;
    font-weight: bold;
    font-family: 'Gotham Medium', sans-serif;
    color: white;
}
#share div p {
    margin-top: 35%;
    text-align: center;
}
#share div img {
    margin-top: 2%;
    width: 10%;
}
#share div  {
    margin: auto;
    text-align: center;
}
#feedback p {
    margin-top: 55%;
}