.white-bg{
    background-color: #fff !important;
}

.black-bg{
    background-color: #000 !important;
}

.generator .bold-upper, .generator .light-upper, .generator h2{
    color: #000;
}

.question input {
    background-color: #000;
    font-family: 'Gotham Medium', sans-serif;
    font-weight: normal;
    padding: 10px;
    border: none;
    color: #fff;
    margin-bottom: 10px;
}

.question h2{
    font-size: 0.6em;
    margin: 30px 0 10px 0;
}

.question .btn {
    margin-top: 5%;
}

#answers{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#answers .answer{
    color: #000;
}

.textanswer{
    border: 1px solid #000;
    margin-top: 5%;
    padding: 30% 5% 0 5%;
}

.imganswer, .answer{
    width: 48%;
    height: 175px;
    overflow: hidden;
    text-align: center;
    font-size: 0.6em;
}

.imganswer{
    object-fit: cover;
    margin-top: 2.5%;
}

.imganswer img{
  width: 300%;
}